
[snowflake]
account   = "WWSFYHI-EU83767"
user      = "MANGROVE_PIPELINE_SVC"
password  = "Mangrove@2026!Pipeline"
warehouse = "MANGROVE_WH"
database  = "MANGROVE_MONITOR"
role      = "MANGROVE_PIPELINE_ROLE"
